.centerScreen {
    position: absolute;
    top: 2%;
    left: 15%;
    margin-left: 0px;
    font-family: 'Prompt', sans-serif;
  }

  .spt-appetizer {
    position: relative;
    left: 1%;
    right: 5%;

  }

  .fimg {
    width: 45%;
  }

  :host>>>.mystyle {
    /*background: url("https://img-cdn-china-admissions.imgix.net/wp-content/uploads/2020/10/rent-apartment-hong-kong-china.jpg?auto=format%2Cenhance%2Ccompress") no-repeat center;*/
    background-size: cover;
    @import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,100&display=swap');
    background-color: rgba(255, 255, 255, 0.274);
    font-size: 16px;
    font-family: 'Prompt', sans-serif;
  }

  :host>>>.changeHead {
    position: absolute;
  }

  :host>>>.Go_Right {
    position: absolute;
    right: 10%;
  }

  :host>>>.btn_Go_Right {
    position: absolute;
    right: 5%;
    size: 50%;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

  .name-label{
    font-weight: bold;
    color: black;
    text-align: center;
  }

  .product-price{
    margin: 15px;
  }

  .span-price{
    font-size: 1.25rem;
    font-weight: bold;
    color: rgb(20, 20, 20);
  }

  .strong-price{
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(215, 40, 31);
  }

  .discount{
    font-size: 1.25rem;
    font-weight: bolder;
    color: rgb(100, 100, 100);
    margin: 15px;
  }

  .btn-approve{
    padding-left: 5%;
    padding-right: 5%;
  }

  .card-product{
    padding: 2rem;
  }

  .card {

    padding: 20px;
    margin: 50px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    margin: 0px; */
    /* border: 1px solid #ccc;
    border-radius: 5px; */
  }
  
  .card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .text-desc{
    white-space: nowrap; 
    overflow:hidden; 
    text-overflow: ellipsis;
    max-width: 100ch;
  }

  .product{
    margin: 0px 15px;
    text-align: center;
  }

  .product a:hover{

  }

  .card img{
    width: 200px;
    height: 200px;
    margin-bottom: 5px;
    transition: 0.3s ease-in-out;
    align-self: center;
    }

    .card img:hover{
        transition: 0.3s ease-in-out;
        transform: scale(1.1);
    }

  .telPhone-input{
    padding: 10px;
    
  }
  
  

  