<p-panel>
    <ng-template pTemplate="header"> 
        <span class="text-primary font-semibold text-xl">
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" placeholder="Search keyword" #in_Search (input)="inputSearch(in_Search.value)"/>
            </span>
        </span>
        
        <div style="padding-left: 10px;">
            <p-dropdown [options]="product_type" name="type" [(ngModel)] = "selectedType" optionValue="type" optionLabel="type" (onChange)="typeSelected()"></p-dropdown>
        </div>
        
        <div class="btn_Go_Right">
            <button pButton class="p-button-raised p-button-success" icon="pi pi-plus-circle" label="เพิ่มสินค้า" (onClick)="show_addProduct_Display()" (click)="show_addProduct_Display()">
                <!-- <a routerLink="add">เพิ่มสินค้า</a> -->
            </button>
        </div>
    </ng-template>
  
<p-table
    #dt1
    [value]="products"
    dataKey="id"
    [rows]="5"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 15]"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
>
    <ng-template pTemplate="header">
      <tr>
          <th pSortableColumn="pid" style="width:5%">รหัสสินค้า <p-sortIcon field="code"></p-sortIcon></th>
          <th pSortableColumn="brand" style="width:5%">ยี่ห้อ <p-sortIcon field="name"></p-sortIcon></th>
          <th pSortableColumn="gen" style="width:5%">รุ่น <p-sortIcon field="category"></p-sortIcon></th>
          <th pSortableColumn="type" style="width:5%">ประเภท <p-sortIcon field="category"></p-sortIcon></th>
          <th pSortableColumn="description" style="width:15%">รายละเอียด <p-sortIcon field="quantity"></p-sortIcon></th>
          <th pSortableColumn="price" style="width:5%">ราคา <p-sortIcon field="price"></p-sortIcon></th>
          <th pSortableColumn="amount" style="width:5%">จำนวนคงเหลือ <p-sortIcon field="price"></p-sortIcon></th>
          <th style="width:15%">รูปสินค้า</th>
          <th style="width:10%">Action</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product let-i ="rowIndex">
      <tr>
          <td>{{product.pid}}</td>
          <td>{{product.brand}}</td>
          <td>{{product.gen}}</td>
          <td>{{product.type}}</td>
          <td>{{product.description}}</td>
          <td>{{product.price}}</td>
          <td>{{product.amount}}</td>
          <td><img src="{{product.image}}" alt="product.Pid" width="200" class="shadow-4" /></td>
          <td>
            <div>
                <!-- <p-button styleClass="p-button-raised" (onClick)="edit(product.pid)" label="แก้ไข"></p-button> -->
                <p-button styleClass="p-button-raised" (onClick)="show_editProduct_Display(product.pid)" label="แก้ไข"></p-button>
                <p-button (onClick)="deleteProduct(product.pid)" styleClass="p-button-raised p-button-danger" label="ลบ"></p-button>
            </div>
          </td>

      </tr>
  </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="7">No customers found.</td>
        </tr>
    </ng-template>
</p-table>


  <ng-template pTemplate="footer"> Footer content here </ng-template>
</p-panel>

<p-dialog header="เพิ่มสินค้า" [(visible)]="addProduct_display" [style]="{width: '50vw'}">

    <div class="container my-5">
        
        <form #form="ngForm" (ngSubmit)="addProduct()">
      
          <div class="form-group">
            <label for="brand">ยี่ห้อ</label>
            <input type="text" class="form-control" id="brand" name="brand" [(ngModel)] = "addProductRequest.brand">
          </div>
      
          <div class="form-group">
            <label for="gen">รุ่นของสินค้า</label>
            <input type="text" class="form-control" id="gen" name="gen" [(ngModel)] = "addProductRequest.gen">
          </div>
      
          <div class="form-group">
            <label for="type">ประเภทสินค้า</label>
            <p-dropdown class="form-control" [options]="edit_add_product_type" name="type" [(ngModel)] = "edit_add_selectedType" optionValue="type" optionLabel="type" (onChange)="edit_o_add_typeSelected(1)"></p-dropdown>
          </div>
      
          <div class="form-group">
            <label for="price">ราคาสินค้า</label>
            <input type="number" class="form-control" id="price" name="price" [(ngModel)] = "addProductRequest.price">
          </div>
      
          <div class="form-group">
            <label for="amount">จำนวนคงเหลือ</label>
            <input type="number" class="form-control" id="amount" name="amount" [(ngModel)] = "addProductRequest.amount">
          </div>
      
          <div class="form-group">
            <label for="description">รายละเอียดสินค้า</label>
            <input type="text" class="form-control" id="description" name="description" [(ngModel)] = "addProductRequest.description">
          </div>
      
          <div class="form-group">
            <label for="image">รูปสินค้า</label>
            <input type="text" class="form-control" id="image" name="image" [(ngModel)] = "addProductRequest.image">
          </div>
          
          <br>
          <button  type="submit" class="btn btn-primary">บันทึก</button>
        </form>
      
      </div>
    
  </p-dialog>

  <p-dialog header="เแก้ไขข้อมูลสินค้า" [(visible)]="editProduct_display" [style]="{width: '50vw'}">

    <div class="container my-5">
        
        <form #form="ngForm" (ngSubmit)="updateProduct()">
      
          <div class="form-group">
            <label for="pid">รหัสสินค้า</label>
            <input readonly ="text" class="form-control" id="pid" name="pid" [(ngModel)] = "editProductRequest.pid">
          </div>
      
          <div class="form-group">
            <label for="brand">ยี่ห้อ</label>
            <input type="text" class="form-control" id="brand" name="brand" [(ngModel)] = "editProductRequest.brand">
          </div>
      
          <div class="form-group">
            <label for="gen">รุ่นของสินค้า</label>
            <input type="text" class="form-control" id="gen" name="gen" [(ngModel)] = "editProductRequest.gen">
          </div>
      
          <div class="form-group">
            <label for="type">ประเภทสินค้า</label>
            <p-dropdown class="form-control" [options]="edit_add_product_type" name="type" [(ngModel)] = "edit_add_selectedType" optionValue="type" optionLabel="type" (onChange)="edit_o_add_typeSelected(2)"></p-dropdown>
          </div>
      
          <div class="form-group">
            <label for="price">ราคาสินค้า</label>
            <input type="number" class="form-control" id="price" name="price" [(ngModel)] = "editProductRequest.price">
          </div>
      
          <div class="form-group">
            <label for="amount">จำนวนคงเหลือ</label>
            <input type="number" class="form-control" id="amount" name="amount" [(ngModel)] = "editProductRequest.amount">
          </div>
      
          <div class="form-group">
            <label for="description">รายละเอียดสินค้า</label>
            <input type="text" class="form-control" id="description" name="description" [(ngModel)] = "editProductRequest.description">
          </div>
      
          <div class="form-group">
            <label for="image">รูปสินค้า</label>
            <input type="text" class="form-control" id="image" name="image" [(ngModel)] = "editProductRequest.image">
          </div>
          
          <br>
          <button  type="submit" class="btn btn-primary">บันทึก</button>
        </form>
      
      </div>
    
  </p-dialog>